<ion-content fullscreen>
    <ion-row class="row">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="end" *ngIf="authService.isAuthenticated">
                    <ion-button (click)="onlogout()">
                        <ion-icon slot="icon-only" src="assets/img/myicon/exit.svg"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <div class="header">
            <span class="avatar">
                  <img src="assets/img/home/user.png"/>
            </span>
            <ion-row *ngIf="!authService.isAuthenticated">
                <ion-col size="3"></ion-col>
                <ion-col size="3" class="ion-no-padding">
                    <ion-button expand="block" (click)="onLogin()">login</ion-button>
                </ion-col>
                <ion-col size="3" class="ion-no-padding">
                    <ion-button expand="block" color="warning" (click)="onRegister()">register</ion-button>
                </ion-col>
                <ion-col size="3"></ion-col>
            </ion-row>
            <p class="user-name tracking-in-expand">{{this.authService.user?.displayName}}</p>
        </div>
    </ion-row>

    <ion-item-group class="ion-margin-top">
        <ion-item *ngFor="let m of list;let i=index" class="ion-no-padding" routerLink="{{m?.url}}"
                  [ngStyle]="{'animation': animation(i)}">
            <ion-icon class="ion-margin-start" color="tertiary" [name]="m.img"></ion-icon>
            <ion-label class="label ion-margin-start"> {{m.name}}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item>
            <ion-icon color="tertiary" src="assets/img/myicon/language.svg"></ion-icon>
            <ion-label></ion-label>
            <ion-select (ionChange)="setLanguage()" [interfaceOptions]="customAlertOptions"
                        interface="alert" placeholder="Select language" [(ngModel)]="selectedLanguage">
                <ion-select-option *ngFor="let lang of languages" [value]="lang.id">{{lang.title}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-item-group>
</ion-content>
