app-my-address {
  .am-list-item .am-list-line .am-list-extra {
    -webkit-flex-basis: 70% !important;
    flex-basis: 70% !important;

  }

  .am-list-item .am-list-line .am-list-content {
    color: #989aa2;
  }
}
