<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/tabs/my"></ion-back-button>
        </ion-buttons>
        <ion-title>about</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group class="ion-margin-top">
        <ion-item class="ion-no-padding">
            <ion-icon class="ion-margin-start" src="assets/img/myicon/envato.svg"></ion-icon>
            <ion-label class="ion-margin-start">
                <a href="https://codecanyon.net/user/captain96778/portfolio" target="_blank">
                    Envato
                </a>
            </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-icon class="ion-margin-start" name="logo-github"></ion-icon>
            <ion-label class="ion-margin-start">
                <a href="https://github.com/ionictemplate-app" target="_blank">
                    Github
                </a>
            </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-icon class="ion-margin-start" name="mail"></ion-icon>
            <ion-label class="ion-margin-start">
              ionicTemplate@outlook.com
            </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-icon class="ion-margin-start" name="logo-youtube" color="primary"></ion-icon>
            <ion-label class="ion-margin-start">
                <a href="https://www.youtube.com/channel/UCVCFQPnGAwAEzKotkGEFC4Q" target="_blank">
                    youtube
                </a>
            </ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>
