app-select-address {
  ion-card {
    -webkit-margin-start: 8px !important;
    margin-inline-start: 8px !important;
    -webkit-margin-end: 8px !important;
    margin-inline-end: 8px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}
