<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>coupon</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-no-padding" color="favorite">
        <ion-card-content class="ion-no-padding">
            <ion-card-title class="ion-text-center">{{coupon?.name}}
            </ion-card-title>
            <ion-item>
                <ion-label position="fixed">desc</ion-label>
                <ion-label class="ion-text-wrap">{{coupon?.desc}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">discountAmount</ion-label>
                <ion-label class="ion-text-wrap">{{coupon?.discountAmount}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">amount</ion-label>
                <ion-label class="ion-text-wrap">{{coupon?.amount}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">begin</ion-label>
                <ion-label class="ion-text-wrap">{{coupon?.beginDate}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">end</ion-label>
                <ion-label class="ion-text-wrap">{{coupon?.endDate}}</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
