app-order {
  ion-content {
    --background: var(--my-custom-background);
  }

  ion-segment {
    height: 35px;
  }

  ion-card {
    margin: 0px !important;
    margin-top: 10px !important;
  }

  ion-item {
    --padding-start: 0px !important;
  }

  .order-img {
    width: 130px !important;
    height: auto !important;
  }

  .p {
    margin-top: 9px;
    margin-bottom: 9px;
  }

}
